.div1{
    background-color: rgb(202, 146, 254);
    margin: 20px;
    padding: 20px;
}
.div2{
    background-color: rgb(151, 69, 228);
    margin: 20px;
    padding: 20px;
}
.div3{
    background-color: rgb(112, 52, 169);
    margin: 20px;
    padding: 20px;
    color: aliceblue;
}